/* Customizações @tihhgoncalves */
/* CABEÇALHO */
.row0 a:hover {
  color: #299b86;
}
.row0 a.btn:hover {
  color: #299b86;
  background-color: #FFF;
}
.row0 .apps_logo {
  margin: 0 6px!important;
}
.row0 #topbar ul {
  line-height: inherit;
}
@media screen and (max-width: 900px) {
  .row0 .logos_apps {
    display: none;
  }
}
#header #logo {
  margin-top: 5px!important;
}
/* RODAPÉ */
#copyright a {
  color: #299b86 !important;
}
/* ESTILOS PADRÃO */
.btn-sm {
  height: 22px;
  padding: 0 10px;
}
/* plugin qTip */
.qtip.qtip-default {
  background-color: #299b86;
  border: 0;
  color: #FFF;
  line-height: 20px;
}
/* plugin jAlert */
.jAlert.ja_blue {
  background-color: #299b86 !important;
}
/* Atendimento Online */
#lhc_status_container {
  width: 125px!important;
  box-shadow: none!important;
  right: 20px!important;
  background-color: #299b86 !important;
  border: 0!important;
  -webkit-border-top-left-radius: 5px!important;
  -webkit-border-top-right-radius: 5px!important;
  -moz-border-radius-topleft: 5px!important;
  -moz-border-radius-topright: 5px!important;
  border-top-left-radius: 5px!important;
  border-top-right-radius: 5px!important;
}
#lhc_status_container #lhc_need_help_container {
  display: none;
}
#lhc_status_container #online-icon {
  background-image: none;
  padding: 5px;
  width: auto;
}
#lhc_status_container #online-icon .lhc-text-status {
  color: #FFF;
}
#lhc_container #lhc_header {
  background-color: #299b86 !important;
}
/* Ajustes de CSS do Template */
#backtotop {
  bottom: 60px!important;
}
h1 {
  font-size: 25px;
}
h2 {
  text-transform: none;
  margin-top: 25px;
}
h3 {
  font-size: 16px;
  margin-top: 25px;
}
h4 {
  font-size: 16px;
  text-transform: none;
  margin-top: 25px;
}
/* FORM */
form.form {
  display: block;
  width: 90%;
  margin: auto;
}
form.form label {
  text-align: right;
  padding: 10px 0;
}
@media screen and (min-width: 750px) {
  form.form label {
    text-align: left!important;
  }
}
form.form label span {
  color: #299b86 !important;
}
form.form input,
form.form textarea {
  border: 1px solid;
  padding: 10px;
  width: 100%;
  border-color: #d7d7d7;
}
form.form textarea {
  overflow: auto;
}
form.form div {
  margin-bottom: 15px;
}
form.form input[type="submit"],
form.form input[type="reset"] {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  min-width: 150px;
  width: auto;
}
form.form .chosen-container-single .chosen-single {
  line-height: 38px;
  height: 38px;
  background: none;
  border-color: #d7d7d7;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
form.form .chosen-container-single .chosen-single div b {
  background-position: 0 10px;
}
form.form .chosen-container-single .chosen-drop .active-result.highlighted {
  background: none!important;
  background-color: #299b86 !important;
}
form.form .chosen-container-active .chosen-single {
  box-shadow: none;
  border-color: #299b86;
}
form.form h4 {
  font-size: 15px;
  margin: 2px 0;
  color: #299b86;
}
form.form p {
  margin: 2px 0;
}
form.form hr {
  display: block;
  clear: both;
  margin-top: 15px;
}
#comments ul li figure.avatar {
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#comments ul li address {
  font-weight: normal;
  font-size: 16px;
  color: #999;
}
#comments ul li address span,
#comments ul li address a {
  color: #299b86;
  font-weight: bold;
}
#comments ul li .comcont {
  font-style: italic;
}
/* Página PREÇO */
div#valores {
  margin: 25px 0;
}
div#valores .txt_h1 {
  background-color: #252525;
  color: #FFF;
  padding: 5px;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
}
div#valores .preco-velho {
  text-transform: uppercase;
  padding: 15px 0;
  text-align: center;
  font-size: 13px;
}
div#valores .preco-velho strike {
  font-weight: 600;
  position: relative;
  text-decoration: none;
}
div#valores .preco-velho strike::before {
  background-color: red;
  content: "";
  height: 2px;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  transform: rotate(-10deg);
  width: 100%;
}
div#valores .preco-novo {
  text-align: center;
  color: #299b86;
  font-family: 'Varela Round', sans-serif;
  font-size: 50px;
}
div#valores .preco-novo sup {
  font-size: 20px;
}
div#valores .preco-novo sub {
  color: #777;
  font-size: 14px;
  margin-left: -37px;
  position: relative;
  bottom: 7px;
}
div#valores .desc {
  background-color: #f3f3f3;
  text-align: center;
  font-size: 12px;
  line-height: 17px;
  padding: 5px;
  color: #252525;
}
div#valores .infos {
  padding: 15px;
  color: #252525;
  font-size: 11px;
  line-height: 15px;
  font-style: italic;
}
div#valores .btn {
  margin: auto;
  display: block;
  text-align: center;
  background-color: #f3f3f3;
  color: #299b86;
  border: 0;
}
div#valores .btn:hover,
div#valores .btn:focus {
  background-color: #299b86;
  color: #FFF;
}
div#valores .btn.destaque {
  font-weight: bold;
  background-color: #299b86;
  color: #FFF;
}
div#valores .btn-info {
  color: #299b86;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}
img.img-left {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
img.img-right {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.clearboth {
  clear: both;
  margin-bottom: 50px;
}
.heading.heading2 {
  font-size: 18px !important;
  text-transform: none!important;
  line-height: 25px!important;
}
#pg_assessoria .assessoria_logos_app {
  margin: 10px;
}
