/* Customizações @tihhgoncalves */
@cor_principal: #299b86;
@cor_cinza_escuro: #252525;

/* CABEÇALHO */
.row0{

  a:hover{
    color: @cor_principal;
  }

  a.btn:hover{
    color: @cor_principal;
    background-color: #FFF;
  }

}


/* ESTILOS PADRÃO */

.btn-sm{
  height: 22px;
  padding: 0 10px;
}

/* plugin qTip */
.qtip{

  &.qtip-default {
    background-color: @cor_principal;
    border: 0;
    color: #FFF;
    line-height: 20px;
  }
}

/* plugin jAlert */
.jAlert{

  &.ja_blue{
    background-color: @cor_principal!important;
  }
}

/* Atendimento Online */
#lhc_status_container{
  width: 125px!important;
  box-shadow: none!important;
  right: 20px!important;
  background-color: @cor_principal!important;
  border: 0!important;

  -webkit-border-top-left-radius: 5px!important;
  -webkit-border-top-right-radius: 5px!important;
  -moz-border-radius-topleft: 5px!important;
  -moz-border-radius-topright: 5px!important;
  border-top-left-radius: 5px!important;
  border-top-right-radius: 5px!important;

  #lhc_need_help_container{
    background-color: @cor_principal;
    border: 0;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    i#lhc_need_help_close{
      background: none;

      &:hover{
        background-color: #FFF;
        color: @cor_principal;
      }
    }

    #lhc_need_help_triangle{
      border-top-color: @cor_principal;


    }

    #lhc_need_help_image{
      display: none;
    }
  }

  #online-icon{
    background-image: none;
    padding: 5px;
    width: auto;

    .lhc-text-status{
      color: #FFF;
    }
  }

}

#lhc_container{
  background-color: @cor_cinza_escuro!important;
}

/* FORM */
form.form{

  display: block;
  width: 90%;
  margin: auto;

  label{
    text-align: right;
    padding: 10px 0;

    span{
      color:@cor_principal!important;
    }
  }

  input, textarea {
    border: 1px solid;
    padding: 10px;
    width: 100%;
    border-color: #d7d7d7;
  }
  textarea {
    overflow: auto;
  }
  div {
    margin-bottom: 15px;
  }
  input[type="submit"], input[type="reset"] {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    min-width: 150px;
    width: auto;
  }

  h4{
    font-size: 15px;
    margin: 2px 0;
    color: @cor_principal;
  }
  p{
    margin: 2px 0
  }

  hr{
    display: block;
    clear: both;
    margin-top: 15px;
  }

}

