/* Customizações @tihhgoncalves */
@cor_principal: #299b86;

/* CABEÇALHO */
.row0{

  a:hover{
    color: @cor_principal;
  }

  a.btn:hover{
    color: @cor_principal;
    background-color: #FFF;
  }

}


/* ESTILOS PADRÃO */

.btn-sm{
  height: 22px;
  padding: 0 10px;
}

/* plugin qTip */
.qtip{

  &.qtip-default {
    background-color: @cor_principal;
    border: 0;
    color: #FFF;
    line-height: 20px;
  }
}

/* plugin jAlert */
.jAlert{

  &.ja_blue{
    background-color: @cor_principal!important;
  }
}

/* FORM */
form.form{

  display: block;
  width: 90%;
  margin: auto;

  label{
    text-align: right;
    padding: 10px 0;

    span{
      color:@cor_principal!important;
    }
  }

  input, textarea {
    border: 1px solid;
    padding: 10px;
    width: 100%;
    border-color: #d7d7d7;
  }
  textarea {
    overflow: auto;
  }
  div {
    margin-bottom: 15px;
  }
  input[type="submit"], input[type="reset"] {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    min-width: 150px;
    width: auto;
  }

  h4{
    font-size: 15px;
    margin: 2px 0;
    color: @cor_principal;
  }
  p{
    margin: 2px 0
  }

  hr{
    display: block;
    clear: both;
    margin-top: 15px;
  }

}

